mixin video(video)
  a.home__videoItem(href=`/videos/${video.id}`)
    article
      h4.home__videoTitle=video.title
      p.home__videoDesc=video.desc
      div.home__videoHashtags
        each hashtag in video.hashtags
          i=hashtag + " "
      small.home_videoCreateAt Posted #{video.createdAt}.
  hr