mixin video(video)
  a.home__videoItem(href=`/videos/${video.id}`)
    article
      if video.thumbUpload
        div.home__videoThumb(style=`background-image:url(${video.thumbUpload})`)
      else
        div.home__videoThumb
      h4.home__videoTitle=video.title
      if video.hashtags[0].length !== 1
        div.home__videoHashtags
          each hashtag in video.hashtags
            i=hashtag + " "
      div.home__videoMeta
        if video.owner 
          small.home__videoOwner #{video.owner.fullname} · 
          
        if video.meta.views === 1 
          small=`${video.meta.views} view`
        else if video.meta.views > 1
          small=`${video.meta.views} views`
        br 
        small.home__videoCreateAt Created At #{new Date(video.createdAt).toISOString().replace(/[A-Z]/ig, " ").split(".")[0]}
  hr