mixin video(video)
  div.home__videoItem
    article
      if video.thumbUpload
        a.home__videoThumb(href=`/videos/${video.id}`)
          span(style=`background-image:url(${video.thumbUpload})`)
      else
        a.home__videoThumb(href=`/videos/${video.id}`)
      h4.home__videoTitle=video.title
      if video.hashtags[0].length !== 1
        div.home__videoHashtags
          each hashtag in video.hashtags
            a(href=`/search/tag?hashtags=${encodeURIComponent(hashtag)}`)=hashtag
      div.home__videoMeta
        if video.owner 
          small.home__videoOwner #{video.owner.fullname}
        if video.owner && video.meta.views > 0
          |  ·  
        if video.meta.views === 1 
          small=`${video.meta.views} view`
        else if video.meta.views > 1
          small=`${video.meta.views} views`
        br 
        small.home__videoCreateAt Created At #{new Date(video.createdAt).toISOString().replace(/[A-Z]/ig, " ").split(".")[0]}
  hr