extends base

block content
  if user.avatarUrl
    img(src=`/${user.avatarUrl}`,alt="Avatar Image",width="100")
  form(method="POST",action="/users/edit/user-data",enctype="multipart/form-data")
    if errorMessage
      p=errorMessage
    label(for="editEmail") Email
    input(id="editEmail",name="email",type="email",required,placeholder="ex) example@mail.com",value=user.email)
    label(for="editUsername") User Name
    input(id="editUsername",name="username",type="text",required,placeholder="",value=user.username)
    label(for="editName") Full Name
    input(id="editName",name="fullname",type="text", required,placeholder="ex) John Doe",value=user.fullname)
    label(for="editLocation") Location
    input(id="editLocation",name="location",type="text",placeholder="ex) Seoul, Korea",value=user.location)
    label(for="uploadAvatar") Avatar Image Upload
    input(id="uploadAvatar",name="avatar",type="file",accept="image/*")
    input(type="submit", value="Save Profile")

  if !user.socialOnly
    hr
    form(method="POST",action="/users/edit/password")
      if errorMessage2
        p=errorMessage2

      label(for="currentPassword") Current Password
      input(id="currentPassword",name="password",type="password",required,placeholder="")
      label(for="newPassword") New Password
      input(id="newPassword",name="password2",type="password",placeholder="")
      label(for="confirmPassword") confirm Password
      input(id="confirmPassword",name="password3",type="password",placeholder="")
      input(type="submit", value="Change Password")