extends base.pug

block content
  section.watch__detail
    figure#video__container(data-id=video._id)
      video
        source(src=`${video.videoUpload}`,type="video/mp4",crossorigin)
      div#video__controller
        button#play(aria-label="Play",aria-pressed="false")
          i.fas.fa-play
        div.video__timelineGroup
          input#timeline(type="range", name="timeline",step="0.01",min="0",value="0",aria-label="Timeline")
          span.timeStamp 
            i#timeCurrent 00:00
            |/
            i#timeDuration 00:00
        div.video__volumeGroup
          button#mute(aria-label="Mute",aria-pressed="false")
            i.fas.fa-volume-up
          input#volume(type="range", name="volume",min="0",max="1",step="0.01",value="0.5",aria-label="Volume Level")
        button#fullscreen(aria-label="Enter Fullscreen")
          i.fas.fa-expand
    div.watch__detailText
      p=video.desc
      br
      small Uploaded by 
        a(href=`/users/${video.owner._id}`)=video.owner.username
      br
      small=videoDate
      br
      if String(video.owner._id) === String(user._id)
        a(href=`${video._id}/edit`) Edit Video &rarr;
        br
        a(href=`${video._id}/delete`) Delete Video &rarr;
    if loggedIn
      div.watch__commentsContainer
        form.watch__commentForm#commentForm
          label(for="commentArea") Comment 
          textarea#commentArea(name="commentArea", cols="30", rows="10", placeholder="Good Comment Here")
          button(type="submit") Add Comment
    if video.comments.length > 0
      div.watch__commentsList
        ul
          each comment in video.comments.reverse()
            li(data-id=comment._id)
              p.watch__commentText=comment.text
block scripts
  script(src="/dist/js/videoPlayer.js") 
  if loggedIn
    script(src="/dist/js/commentArea.js")