extends base.pug

block content
  section.watch__detail
    figure#video__container(data-id=video._id)
      if video.thumbUpload
        div.video__playCover
          i.far.fa-play-circle
      video
        if video.videoUpload.includes("uploads/video/")
          source(src=`/${video.videoUpload}`,type="video/mp4")
        else
          source(src=`${video.videoUpload}`,type="video/mp4")
      div#video__controller
        button#play(aria-label="Play",aria-pressed="false")
          i.fas.fa-play
        div.video__timelineGroup
          input#timeline(type="range", name="timeline",step="0.01",min="0",value="0",aria-label="Timeline")
          span.timeStamp 
            i#timeCurrent 00:00
            |/
            i#timeDuration 00:00
        div.video__volumeGroup
          button#mute(aria-label="Mute",aria-pressed="false")
            i.fas.fa-volume-up
          input#volume(type="range", name="volume",min="0",max="1",step="0.01",value="0.5",aria-label="Volume Level")
        button#fullscreen(aria-label="Enter Fullscreen")
          i.fas.fa-expand
    div.watch__smallText
      if video.owner
        small Uploaded by 
          a(href=`/users/${video.owner._id}`)=video.owner.fullname
      | &middot; 
      small=videoDate
      if video.meta.views === 1 
        small=` · ${video.meta.views} view`
      else if video.meta.views > 1
        small=` · ${video.meta.views} views`
    div.watch__detailText
      p=video.desc
      if video.hashtags[0].length !== 1
        div.watch__detailHashtag
          each hashtag in video.hashtags
            a(href=`/search/tag?hashtags=${encodeURIComponent(hashtag)}`)=hashtag
      if video.owner && (String(video.owner._id) === String(user._id))
        div.btn__groups
          a(href=`${video._id}/edit`)
            i.fas.fa-edit 
            |  Edit
    div.watch__commentsContainer
      if loggedIn
        form.watch__commentForm#commentForm
          label(for="commentArea") Comment
          textarea#commentArea(name="commentArea", cols="30", rows="2", placeholder="Good Comment Here")
          button(type="submit",aria-label="Add Comment")
            i.fas.fa-comment
      div.watch__commentsList
        ul
          each comment in video.comments.reverse()
            li(data-id=comment._id)
              if comment.owner && comment.owner.username
                span.watch__commentText=`${comment.owner.username} : ${comment.text}`
              else
                span.watch__commentText=comment.text
              if comment.owner && (String(comment.owner._id) === String(user._id))
                i.fas.fa-times.watch__commentClose
block scripts
  script(src="/dist/js/videoPlayer.js") 
  if loggedIn
    script(src="/dist/js/commentArea.js")