header
  a(href="/").header__logo
    h1
      i.fab.fa-skyatlas
      span=siteName
  div#search
    form(action="/search")
      input(placeholder="Search by title",name="keyword", type="text", required, value="")
      button.fas.fa-search(type="submit")
  nav
    ul 
      if loggedIn
        li
          a(href="/videos/upload",aria-label="Upload")
            i.fas.fa-cloud-upload-alt
        li
          a(href="/videos/record",ara-label="Video Recorder")
            i.fas.fa-video
        li        
          a(href=`/users/${user._id}`,aria-label=`${user.username}'s profile`)
            if !(user.avatarUrl) || pageTitle === "Video Recorder"
              i.fas.fa-user-circle
            else if user.avatarUrl.includes("uploads/avatars/")
              span
                img(src=`/${user.avatarUrl}`,alt="Avatar")
            else
              span
                img(src=`${user.avatarUrl}`,alt="Avatar")
        li
          a(href="/users/logout")
            i.fas.fa-sign-out-alt 
            | &nbsp;Logout
      else
        li
          a(href="/join") Join
        li
          a(href="/login")
            i.fas.fa-sign-in-alt 
            | &nbsp;Login